travelReservation/state-machine/reservation.asl.json
{
    "Comment": "Start",
    "StartAt": "CheckFlight",
    "States": {
      "CheckFlight": {
        "Type": "Task",
        "Resource": "${CHECK_FLIGHT_FUNCTION_ARN}",
        "TimeoutSeconds": 10,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout",
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 1.5
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "CheckFlightError"
            ],
            "ResultPath": "$.error-info",
            "Next": "Fail"
          }
        ],
        "Next": "ReserveFlight"
      },
      "ReserveFlight": {
        "Type": "Task",
        "Resource": "${RESERVE_FLIGHT_FUNCTION_ARN}",
        "ResultPath": "$.output.cancel-hotel",
        "TimeoutSeconds": 10,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout",
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 1.5
          }
        ],
        "Next": "CheckHotel"
      },
      "CheckHotel": {
        "Type": "Task",
        "Resource": "${CHECK_HOTEL_FUNCTION_ARN}",
        "TimeoutSeconds": 10,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout",
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 1.5
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "CheckHotelError"
            ],
            "ResultPath": "$.error-info",
            "Next": "CancelFlight"
          }
        ],
        "Next": "ReserveHotel"
      },
      "CancelFlight": {
        "Type": "Task",
        "Resource": "${CANCEL_FLIGHT_FUNCTION_ARN}",
        "ResultPath": "$.output.cancel-flight",
        "TimeoutSeconds": 10,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout",
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 1.5
          }
        ],
        "Next": "Fail"
      },
      "ReserveHotel": {
        "Type": "Task",
        "Resource": "${RESERVE_HOTEL_FUNCTION_ARN}",
        "TimeoutSeconds": 10,
        "Retry": [
          {
            "ErrorEquals": [
              "States.Timeout",
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 1.5
          }
        ],
        "Next": "CheckCar"
      },
      "Receipt": {
        "Type": "Succeed"
      },
      "CheckCar": {
        "Type": "Task",
        "Resource": "${CHECK_CAR_FUNCTION_ARN}",
        "ResultPath": "$.output.cancel-rental",
        "TimeoutSeconds": 10,
        "Catch": [
          {
            "ErrorEquals": [
              "CheckCarError"
            ],
            "ResultPath": "$.error-info",
            "Next": "CancelHotel"
          }
        ],
        "Next": "ReserveCar"
      },
      "CancelHotel": {
        "Type": "Task",
        "Resource": "${CANCEL_HOTEL_FUNCTION_ARN}",
        "ResultPath": "$.output.cancel-rental",
        "TimeoutSeconds": 10,
        "Next": "CancelFlight"
      },
      "ReserveCar": {
        "Type": "Task",
        "Resource": "${RESERVE_CAR_FUNCTION_ARN}",
        "ResultPath": "$.output.cancel-rental",
        "TimeoutSeconds": 10,
        "Next": "Receipt"
      },
      "Fail": {
        "Type": "Fail"
      }
    }
  }